<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ByteBlaze Querists Coalbot</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="static/chat.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700,300">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.1.2/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Epilogue:wght@400&family=Finger+Paint&display=swap">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>  
  <div class="card">
    <div id="header">
        <img src="static/coalmine.jpg" style="float: left " width="61px" height="61px"><h1 style="text-align:center; font-weight: bolder;" >Coal Bot 🤖</h1>
</div>
    <div id="message-section">
      <div class="message" id="bot"><span id="bot-response">Hello.. I'm listening! Go on..</span></div>
    </div>
    <div id="input-section">
      <input id="input" type="text" placeholder="Enter a message...." autocomplete="off" autofocus="autofocus"/>
      <button class="send" onclick="sendMessage()">
        <div class="circle"><i class="zmdi zmdi-mail-send"></i></div>
      </button>
        <button class="send" onclick="sendMessage()">
            <div class="new"><i class="fas fa-microphone"></i> </div>
          </button>
          <button>
          <input type="file" class="send">
              <div class="clip"><i class="fas fa-paperclip"></i></div>
        </button>
    </div>
  </div>
  <script src="static/script2.js"></script>
</body>
</html>
