<!DOCTYPE html>
<html>
<head>
	<title>Coal Bot Complaint Page</title>
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
	<link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>
	<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>

	<nav>
		<li><a class="active" href="contact.html">About Bot</a></li>
		<li><a href="#feedback" style="font-weight: bold; color:rgb(0, 0, 0);font-family: Verdana, Geneva, Tahoma, sans-serif;">Feedback</a></li>
		<li><a href="/history" style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">History</a></li>
		<li><a href="/complaint" style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;" >Complaint</a></li>
		<li><a href="/chatbot" style="font-weight:bold;color:black;font-family: Verdana, Geneva, Tahoma, sans-serif;">Coal Bot</a></li>
		<!--<li><a style="text-align: right; text-align: center; font-weight: bold;
			padding: 10px;
			font-family:'Times New Roman', Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
			background-color: #811574;
			color: white;
			border-radius: 5px;
			cursor: pointer;" href="login.html">Login/Sign Up</a></li>-->
	</nav>

	<svg viewBox="0 0 960 300"  data-aos="fade-up" data-aos-delay="250">
        <symbol id="s-text">
            <text text-anchor="middle" x="50%" y="80%">Coal Bot</text>
        </symbol>
    
        <g class = "g-ants">
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
            <use xlink:href="#s-text" class="text-copy"></use>
       </g>
	</svg>
		<br/><hr><br>
		<p style="margin-left: 55px;
		 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		  font-size:x-large; 
		  color: rgb(112, 18, 118);
		  font-weight: bold;"><strong style="font-weight: bold; color: #000000;" >Welcome To Coalbot</strong>  , your dedicated Mining Regulations Assistant. CoalBot is designed to provide quick, accurate, and accessible information on acts, rules, and regulations governing mining operations in India. One of its standout features is the ability to ask questions in the form of images, making it even more convenient for users. Additionally, CoalBot offers voice assistance in multiple languages, ensuring accessibility for a diverse user base. Moreover, you have the option to post a complaint, providing a comprehensive platform for addressing concerns. With a user-friendly interface and regular updates, CoalBot is your go-to resource for navigating the intricacies of mining laws. Simply type your query, upload an image, or use voice commands, and get the information you need, hassle-free. Thank you for choosing CoalBot as your trusted companion in understanding mining regulations in India.</p>
		  <br>
		  <p style="margin-left: 55px;
		  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		   font-size:xx-large; 
		   font-weight:bold;
		   color: rgb(33, 150, 86);
		   font-weight: bold;"> How To Use Our Coal Bot :</p>
		  <br>
		  <p style="margin-left: 55px;
		  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		   font-size:x-large; 
		   color: rgb(22, 111, 200);
		   font-weight: bold;"> Using CoalBot is as simple as sending a text message. Just type in your query, and our chatbot will provide you with clear and concise information regarding the relevant acts, rules, and regulations for mining in India. But that's not all - CoalBot goes above and beyond. If you prefer visual communication, you can send us an image related to your query, and CoalBot will analyze it to provide you with accurate and relevant information. Our advanced image recognition capabilities ensure that you receive the right answers, even when words may not suffice.So whether you choose to type, send images, or use your voice, CoalBot is here to assist you every step of the way. Simplifying mining regulations has never been this efficient or convenient. Try it out today and experience the future of mining information at your fingertips.</p>
		  <br>
			<div class="Gif2">
				<img src="static/img/gif/end.gif">
			</div>
			</div>
			<div>
				<br><br>

				<left><p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large; margin-left:10%;color:#a01818">
					CoalBot's Premium Features:</p>
<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(33, 150, 86)"> <strong style="font-weight: bold;color: black;">Image Processing:</strong> Users can upload images for analysis. CoalBot converts the image to text, providing relevant information on the data analyzed.</p>
<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(112, 18, 118)"><strong style="font-weight: bold;color: black;">Voice Assistance:</strong> Available in multiple regional languages, allowing users to ask queries effortlessly and provides a best User Experience.<p>


	<left><p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:x-large; margin-left:10%;color:#a01818">
		How CoalBot Helps:</p>
		
<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(33, 150, 86)"> <strong style="font-weight: bold;color: black;">Mining Regulations:</strong> Resolves queries regarding acts, rules, and regulations for the mining industries and Ministry of Coal.</p>

<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(112, 18, 118)"> <strong style="font-weight: bold;color: black;">
	Spell Check Feature:</strong>Ensures accurate responses.</p>
	<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(33, 150, 86)"> <strong style="font-weight: bold;color: black;">
		Notification System: </strong> Users updated on new acts.</p>
		<p style="text-align:left; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:medium; margin-left:10%;color:rgb(112, 18, 118)"> <strong style="font-weight: bold;color: black;">
			Feedback and Complaints:</strong> Provides a platform for user input.
				</p></left>
			</div>
		</div>
		<br/><br><br>
		
		<img src="static/img/gif/giphy.gif" style="margin-left: 29%; width:40%; height:40%;"><br>
		<center><h1 id="hashtag1" style="color: #168b60;">Ministry of Coal</h1></center>
		<center><p id="feedback" style="color: rgb(0, 87, 228);">To produce and market the planned quantity of coal and coal products efficiently and economically in an eco-friendly manner with due regard to safety, conservation and quality and to emerge as a global player in the primary energy sector committed to provide energy security to the country by attaining environmentally & socially sustainable growth through best practices from mine to market.</p></center>
		
		<div>
			<center><img src="static/img/gif/start.gif"></center>
		</div>
		
		<hr>
		<div class="social-hub" id="socialhub">
			<h3 class="important-heading">
				<strong style="color: #000000; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">Ministry of Coal's Social Hub</strong>
			</h3>
			<div class="block whatsapp">
				<div class="icon">
					<a href="https://api.whatsapp.com/send/?phone=919477011383" target="_blank">
						<img src="static/img/icons/whatsapp.png" alt="" />
					</a>
				</div>
				<div class="text-area"> 
					<a href="https://api.whatsapp.com/send/?phone=919477011383" target="_blank">
					<h3><strong>+91-919477011383</strong></h3></a>
					<p><a href="https://api.whatsapp.com/send/?phone=919477011383" target="_blank">WhatsApp</a></p>
				</div>
			</div>
				
			<div class="block messenger">
				<div class="icon">
					<a href="https://twitter.com/CoalIndiaHQ?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ACoalIndiaHQ%7Ctwcon%5Es1_c1" target="_blank">
						<img src="static/img/icons/tweet.png" alt="" />
					</a>
				</div>
				<div class="text-area"> 
					<a href="https://twitter.com/CoalIndiaHQ?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ACoalIndiaHQ%7Ctwcon%5Es1_c1" target="_blank">
					<h3><strong>@coal India Limited</strong></h3>
					<p></p></a>
					<p><a href="https://twitter.com/CoalIndiaHQ?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ACoalIndiaHQ%7Ctwcon%5Es1_c1" target="_blank">Twitter X</a></p>
				</div>
			</div>
				
			<div class="block facebook">
				<div class="icon">
					<a href="https://www.facebook.com/MyGovIndia/" target="_blank">
						<img src="static/img/icons/facebook.png" alt="" />
					</a>
				</div>
				<div class="text-area"> 
					<a href="https://www.facebook.com/coalindiaHQ" target="_blank">
					<h3><strong>@Coal India Limited</strong></h3>
					<p></p></a>
					<p><a href="https://www.facebook.com/coalindiaHQ"  target="_blank">Facebook Page</a></p>
				</div>
			</div>
		</div>
		<hr>
	</div>

	<footer>
		<p>Authors: ©️ ByteBlaze Querists 2023</a>
	</footer>
	<script>
		AOS.init({
		  duration: 1200,
		  once: false,
		});
	  </script>

</body>
</html>
